<div class="page-1">
  <h1>Мы создаём семью</h1>

  <section class="main-image">
    <p>14 ноября 2026</p>

    <!-- <img src="hands.svg" width="100%" /> -->
    <div class="svg-mask hands"></div>

    <div class="we">
      <p>Максим & Полина</p>
    </div>

    <!-- <img src="lent-ochka.svg" width="100%" /> -->
    <div class="svg-mask lent-ochka"></div>
  </section>
</div>

<section class="intro bg-second">
  <h2>Дорогие гости</h2>

  <p>
    Совсем скоро наступит особенный день в нашей жизни – день нашей свадьбы! Говорят, самые
    счастливые моменты случаются, когда рядом те, кого любишь – поэтому без вас никак.
  </p>

  <p>От всего сердца приглашаем вас разделить с нами этот радостный праздник!</p>
</section>

<section class="calendar">
  <h2>Ноябрь</h2>

  <div class="calendar__table">
    <div class="day-of-week">пн</div>
    <div class="day-of-week">вт</div>
    <div class="day-of-week">ср</div>
    <div class="day-of-week">чт</div>
    <div class="day-of-week">пт</div>
    <div class="day-of-week">сб</div>
    <div class="day-of-week">вс</div>

    @for (day of [26, 27, 28, 29, 30, 31]; track day) {
      <div class="day"></div>
    }

    @for (day of novemberDays; track day) {
      <div class="day" [class.target-day]="day === 14">{{ day }}</div>
    }

    @for (day of decemberDays; track day) {
      <div class="day"></div>
    }
  </div>
</section>

<section class="day-plan bg-second">
  <h2>Программа дня</h2>

  <div class="table">
    <div>14:20</div>

    <div class="v-line"></div>

    <div>
      <div>Сбор гостей в ЗАГС</div>

      <a href="https://yandex.ru/maps/-/CXAvMKlU" target="_blank" class="interact invert">
        <span class="material-symbols-sharp"> arrow_outward </span>

        Большая Монетная 17-19, Петербург
      </a>
    </div>

    <div>15:30</div>

    <div class="v-line"></div>

    <div>
      <div>Праздничный ужин в ресторане Петръ</div>

      <a href="https://yandex.ru/maps/-/CXAvQC84" target="_blank" class="interact invert">
        <span class="material-symbols-sharp"> arrow_outward </span>
        Гороховая 1, Петербург
      </a>
    </div>

    <div>21:30</div>

    <div class="v-line"></div>

    <div>Завершение вечера</div>
  </div>
</section>

<section class="dress">
  <h2>Дресс-код</h2>

  <p>
    Мы не хотим ограничивать вас строгими рамками дресс-кода — приходите в том, в чём будете
    чувствовать себя на миллион!
  </p>

  <p>Просим лишь отказаться в этот день от ярко-кричащих цветов.</p>
</section>

<section class="wishes bg-second">
  <h2>Пожелания</h2>

  <p>
    Если вы хотите преподнести ценный и нужный подарок, мы будем очень благодарны за вклад в бюджет
    нашей молодой семьи!
  </p>

  <div class="horiz-line"></div>

  <p>
    От всего сердца просим вас воздержаться от криков "Горько" и сохранить атмосферу уютного
    семейного праздника.
  </p>
</section>

<section class="flowers">
  <h2>Про цветы</h2>

  <p>
    Чтобы продлить атмосферу нашего дня, просим вас отказаться от букетов в пользу цветочной
    подписки! Вы можете пополнить наш цветочный счёт на любую комфортную сумму по кодовому слову
    <span class="interact" (click)="onMerciShorClic()">Мэрцишор</span>. Просто напишите его в
    телеграм-чат по ссылке ниже.
  </p>

  <a href="https://t.me/may_flowers_studio" target="_blank" class="interact">
    <span class="material-symbols-sharp"> arrow_outward </span>
    Пополнить цветочный счёт
  </a>

  <p>
    Спасибо, что помогаете нам получать свежие цветы регулярно и сохранять атмосферу праздника
    надолго!
  </p>
</section>

<section class="form bg-second">
  <h2>Анкета</h2>

  <p>Пожалуйста, заполните анкету о вашем присутствии и предпочтениях до 20 октября.</p>

  <a
    href="https://forms.yandex.ru/u/6ab18bce493639bf95fc8abc"
    target="_blank"
    class="interact invert"
  >
    <span class="material-symbols-sharp"> arrow_outward </span>
    Открыть анкету
  </a>
</section>

<section class="bye">
  <div class="img">
    <p>{{ 'Ждём\nвстречи!' }}</p>
    <img src="./cats.png" />
  </div>

  <p>{{ 'Ваши Максим и Полина \u2764' }}</p>
</section>
