@use './reset.scss' as *;

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Charis';
  src: url('../public/fonts/Charis_SIL/CharisSIL-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gentium';
  src: url('../public/fonts/Gentium_Book_Plus/GentiumBookPlus-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-display: swap;
}

html,
body,
p,
div,
section {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
}

html {
  --c-main: rgba(254, 250, 238, 1);
  --c-second: rgba(141, 17, 34, 1);
  --c-second-07: rgba(141, 17, 34, 0.7);
  --c-3: rgba(141, 17, 34, 1);
}

body {
  max-width: 900px;
  margin: 0 auto;
}

html,
body {
  font-family: 'Gentium', sans-serif;
  background-color: var(--c-main);
  color: var(--c-second);
}

.font-h,
h1,
h2 {
  font-family: 'Charis', serif;
  font-size: 3rem;
  text-align: center;
}

.page-1 {
  min-height: fit-content;
  height: 100vh;
  max-height: 800px;
}

h1 {
  margin: 45px 25px 20px;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.1;
}

section {
  padding: 45px 24px 50px;

  font-family: 'Gentium', sans-serif;
  font-size: 18px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  // align-items: center;
  justify-content: center;

  background-color: var(--c-main);

  p {
    line-height: 1.4;
    text-align: justify;
    text-indent: 35px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

section.bg-second {
  background-color: var(--c-3);
  color: var(--c-main);
}

.interact {
  background-color: var(--c-second);
  color: var(--c-main);
  padding: 3px 6px;
  border-radius: 10px;

  &.invert {
    background-color: var(--c-main);
    color: var(--c-second);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

a.interact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-image {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  align-items: center;

  > p:first-child {
    position: absolute;
    top: 4%;
    left: 47%;
    transform: translate(-50%);
    font-family: 'Charis', serif;
    font-size: 29px;
    width: max-content;
  }

  .we {
    margin-top: 10px;

    p {
      font-size: 28px;
      font-family: 'Charis', serif;
    }
  }

  div.svg-mask {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: var(--c-second);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;

    &.hands {
      mask-image: url('../public/hands.svg');
      -webkit-mask-image: url('../public/hands.svg');
      aspect-ratio: 3 / 3.2;
    }

    &.lent-ochka {
      margin-top: 10px;
      mask-image: url('../public/lent-ochka.svg');
      -webkit-mask-image: url('../public/lent-ochka.svg');
      aspect-ratio: 12 / 1.5;
    }
  }
}

.calendar__table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 92%;
  aspect-ratio: 1 / 1;

  .day-of-week,
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .day-of-week {
    font-weight: 400;
    border-bottom: 2px solid var(--c-second);
  }

  .target-day {
    position: relative;

    &::before {
      --size: calc(min(100vw, 900px) / 7 * 1.2);

      position: absolute;
      content: '';
      top: -3%;
      left: 50%;
      transform: rotateZ(11deg) translateX(-50%);
      width: var(--size);
      height: var(--size);
      background-color: var(--c-second);
      mask-image: url('../public/heart2.svg');
      -webkit-mask-image: url('../public/heart2.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      content: '14';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: var(--c-main);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.day-plan {
  .table {
    display: grid;
    grid-template-columns: max-content 2px 1fr;
    width: 92%;
    gap: 0 40px;
    position: relative;

    .v-line {
      background-color: var(--c-main);
    }

    > div {
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:nth-of-type(3n) {
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        // margin: 0 25%;

        > div {
          line-height: 1.3;
        }

        a {
          font-size: 14px;
          transform: translate(-7px);

          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.flowers {
  span {
    padding: 0 6px;
  }

  a {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 20px 4px 5px;

    width: fit-content;

    span {
      font-size: 18px;
    }
  }
}

.form {
  a {
    padding: 4px 20px 4px 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.bye {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img {
    --w: 40%;
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: var(--w);
    }

    p {
      position: absolute;
      top: 50%;
      left: calc((100% - var(--w)) / 2);
      transform: translate(-45px, -25%);
      white-space: pre-wrap;
      margin: 0;
    }
  }

  p {
    width: fit-content;
    text-indent: 0;
  }

  > p {
    margin-top: 12px;
  }
}

@media screen and (max-width: 670px) {
  .bye .img {
    --w: 60%;
  }
}
